body { margin: 0; padding: 0; }

#map { position: absolute; top: 0; bottom: 0; width: 100%; }

@font-face {
    font-family: 'StreetFont';
    src: url('../fonts/street_cred.otf') format('opentype');
}

#left-panel {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 25vw; /* 20% of the viewport width */
    height: 15vh; /* 15% of the viewport height */
    background-color: rgba(0, 0, 0, 0.0);
    padding: 10px;
}

#left-panel img {
    display: block;
    max-width: 70%;
    height: auto;
    margin: 0;
}

#left-panel h1 {
    font-family: 'StreetFont', sans-serif;
    font-size: 2vw;
    font-weight: 100;
    color: #457fe5;
    position: absolute;   /* Places it at an exact position */
    top: 0;               /* Aligns to the top */
    left: 0;              /* Aligns to the left */
    margin: 10px;         /* Optional: Adds some spacing */
    user-select: none; /* Prevents text selection */
}

#left-panel .version {
    font-family: 'StreetFont', sans-serif;
    font-size: 1.5vw;
}

.colorbar-container {
    position: absolute;
    /*bottom: 5vh; /* Set distance from the bottom of the screen (10% from the bottom) */
    right: 0vw;
    width: clamp(80px, 8vw, 120px); /* Scales with viewport width */
    height: 25vh; /* Set height as a percentage of the viewport height */
    display: flex;
    flex-direction: row;
    background-color: transparent;
}

#colorbar-container-1 {
    bottom: 5vh;
}

#colorbar-container-2 {
    bottom: 32vh;
}

:root {
    --turbo-gradient: linear-gradient(to top,
        rgb(48, 18, 59), rgb(49, 21, 66), rgb(50, 24, 74), rgb(52, 27, 81), rgb(53, 30, 88), rgb(54, 33, 95), rgb(55, 35, 101), rgb(56, 38, 108), rgb(57, 41, 114), rgb(58, 44, 121), rgb(59, 47, 127), rgb(60, 50, 133), rgb(60, 53, 139), rgb(61, 55, 145), rgb(62, 58, 150), rgb(63, 61, 156), rgb(64, 64, 161), rgb(64, 67, 166), rgb(65, 69, 171), rgb(65, 72, 176), rgb(66, 75, 181), rgb(67, 78, 186), rgb(67, 80, 190), rgb(67, 83, 194), rgb(68, 86, 199), rgb(68, 88, 203), rgb(69, 91, 206), rgb(69, 94, 210), rgb(69, 96, 214), rgb(69, 99, 217), rgb(70, 102, 221), rgb(70, 104, 224), rgb(70, 107, 227), rgb(70, 109, 230), rgb(70, 112, 232), rgb(70, 115, 235), rgb(70, 117, 237), rgb(70, 120, 240), rgb(70, 122, 242), rgb(70, 125, 244), rgb(70, 127, 246), rgb(70, 130, 248), rgb(69, 132, 249), rgb(69, 135, 251), rgb(69, 137, 252), rgb(68, 140, 253), rgb(67, 142, 253), rgb(66, 145, 254), rgb(65, 147, 254), rgb(64, 150, 254), rgb(63, 152, 254), rgb(62, 155, 254), rgb(60, 157, 253), rgb(59, 160, 252), rgb(57, 162, 252), rgb(56, 165, 251), rgb(54, 168, 249), rgb(52, 170, 248), rgb(51, 172, 246), rgb(49, 175, 245), rgb(47, 177, 243), rgb(45, 180, 241), rgb(43, 182, 239), rgb(42, 185, 237), rgb(40, 187, 235), rgb(38, 189, 233), rgb(37, 192, 230), rgb(35, 194, 228), rgb(33, 196, 225), rgb(32, 198, 223), rgb(30, 201, 220), rgb(29, 203, 218), rgb(28, 205, 215), rgb(27, 207, 212), rgb(26, 209, 210), rgb(25, 211, 207), rgb(24, 213, 204), rgb(24, 215, 202), rgb(23, 217, 199), rgb(23, 218, 196), rgb(23, 220, 194), rgb(23, 222, 191), rgb(24, 224, 189), rgb(24, 225, 186), rgb(25, 227, 184), rgb(26, 228, 182), rgb(27, 229, 180), rgb(29, 231, 177), rgb(30, 232, 175), rgb(32, 233, 172), rgb(34, 235, 169), rgb(36, 236, 166), rgb(39, 237, 163), rgb(41, 238, 160), rgb(44, 239, 157), rgb(47, 240, 154), rgb(50, 241, 151), rgb(53, 243, 148), rgb(56, 244, 145), rgb(59, 244, 141), rgb(63, 245, 138), rgb(66, 246, 135), rgb(70, 247, 131), rgb(74, 248, 128), rgb(77, 249, 124), rgb(81, 249, 121), rgb(85, 250, 118), rgb(89, 251, 114), rgb(93, 251, 111), rgb(97, 252, 108), rgb(101, 252, 104), rgb(105, 253, 101), rgb(109, 253, 98), rgb(113, 253, 95), rgb(116, 254, 92), rgb(120, 254, 89), rgb(124, 254, 86), rgb(128, 254, 83), rgb(132, 254, 80), rgb(135, 254, 77), rgb(139, 254, 75), rgb(142, 254, 72), rgb(146, 254, 70), rgb(149, 254, 68), rgb(152, 254, 66), rgb(155, 253, 64), rgb(158, 253, 62), rgb(161, 252, 61), rgb(164, 252, 59), rgb(166, 251, 58), rgb(169, 251, 57), rgb(172, 250, 55), rgb(174, 249, 55), rgb(177, 248, 54), rgb(179, 248, 53), rgb(182, 247, 53), rgb(185, 245, 52), rgb(187, 244, 52), rgb(190, 243, 52), rgb(192, 242, 51), rgb(195, 241, 51), rgb(197, 239, 51), rgb(200, 238, 51), rgb(202, 237, 51), rgb(205, 235, 52), rgb(207, 234, 52), rgb(209, 232, 52), rgb(212, 231, 53), rgb(214, 229, 53), rgb(216, 227, 53), rgb(218, 226, 54), rgb(221, 224, 54), rgb(223, 222, 54), rgb(225, 220, 55), rgb(227, 218, 55), rgb(229, 216, 56), rgb(231, 215, 56), rgb(232, 213, 56), rgb(234, 211, 57), rgb(236, 209, 57), rgb(237, 207, 57), rgb(239, 205, 57), rgb(240, 203, 58), rgb(242, 200, 58), rgb(243, 198, 58), rgb(244, 196, 58), rgb(246, 194, 58), rgb(247, 192, 57), rgb(248, 190, 57), rgb(249, 188, 57), rgb(249, 186, 56), rgb(250, 183, 55), rgb(251, 181, 55), rgb(251, 179, 54), rgb(252, 176, 53), rgb(252, 174, 52), rgb(253, 171, 51), rgb(253, 169, 50), rgb(253, 166, 49), rgb(253, 163, 48), rgb(254, 161, 47), rgb(254, 158, 46), rgb(254, 155, 45), rgb(254, 152, 44), rgb(253, 149, 43), rgb(253, 146, 41), rgb(253, 143, 40), rgb(253, 140, 39), rgb(252, 137, 38), rgb(252, 134, 36), rgb(251, 131, 35), rgb(251, 128, 34), rgb(250, 125, 32), rgb(250, 122, 31), rgb(249, 119, 30), rgb(248, 116, 28), rgb(247, 113, 27), rgb(247, 110, 26), rgb(246, 107, 24), rgb(245, 104, 23), rgb(244, 101, 22), rgb(243, 99, 21), rgb(242, 96, 20), rgb(241, 93, 19), rgb(239, 90, 17), rgb(238, 88, 16), rgb(237, 85, 15), rgb(236, 82, 14), rgb(234, 80, 13), rgb(233, 77, 13), rgb(232, 75, 12), rgb(230, 73, 11), rgb(229, 70, 10), rgb(227, 68, 10), rgb(226, 66, 9), rgb(224, 64, 8), rgb(222, 62, 8), rgb(221, 60, 7), rgb(219, 58, 7), rgb(217, 56, 6), rgb(215, 54, 6), rgb(214, 52, 5), rgb(212, 50, 5), rgb(210, 48, 5), rgb(208, 47, 4), rgb(206, 45, 4), rgb(203, 43, 3), rgb(201, 41, 3), rgb(199, 40, 3), rgb(197, 38, 2), rgb(195, 36, 2), rgb(192, 35, 2), rgb(190, 33, 2), rgb(187, 31, 1), rgb(185, 30, 1), rgb(182, 28, 1), rgb(180, 27, 1), rgb(177, 25, 1), rgb(174, 24, 1), rgb(172, 22, 1), rgb(169, 21, 1), rgb(166, 20, 1), rgb(163, 18, 1), rgb(160, 17, 1), rgb(157, 16, 1), rgb(154, 14, 1), rgb(151, 13, 1), rgb(148, 12, 1), rgb(145, 11, 1), rgb(142, 10, 1), rgb(139, 9, 1), rgb(135, 8, 1), rgb(132, 7, 1), rgb(129, 6, 2), rgb(125, 5, 2), rgb(122, 4, 2)
    );

    --blue-brown-gradient: linear-gradient(to top,
        #0c00c1 0%,
        #001CD8 17%,
        #1FB3FF 33%,
        #BEE5FB 50%,  /* 0.50 (end of blue scale) */
        #0F7127 50%,  /* 0.50 (start of green scale, immediate jump) */
        #DBFBBC 67%,
        #8F7C21 83%,
        #4B1A01 100%
    );

}

.colorbar-turbo {
    width: 15%; /* Width of the colorbar */
    height: 100%; /* Full height of the container */
    background: var(--turbo-gradient); /* Use the gradient from the variable */
    border: 1px solid black; /* Optional border */
}

/* Second colorbar */
.colorbar-topo {
    width: 15%;
    height: 100%;
    background: var(--blue-brown-gradient);
    border: 1px solid black;
}

.side-labels {
    display: flex;
    flex-direction: row; /* Arrange labels and title in a row */
    align-items: center; /* Align items vertically centered */
    margin-left: 10px; /* Space between colorbar and labels */
}

.colorbar-labels {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: "Courier New", Courier, monospace;
    font-weight: normal;
    font-size: clamp(12px, 0.8vw, 18px);
    color: rgb(174, 182, 191);
    text-align: left;
}

.colorbar-title {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    font-family: "Courier New", Courier, monospace;
    font-size: clamp(12px, 1vw, 18px);
    color: rgb(174, 182, 191);
}

#coordinates {
    position: absolute;
    bottom: 10vh; /* 10% of viewport height from the bottom */
    left: 1vw;    /* 1% of viewport width from the left */
    padding: 5px;
    font-family: "Courier New", Courier, monospace;
    color: rgb(174, 182, 191);
    font-size: clamp(12px, 0.9vw, 18px);
    font-weight: normal;
}

.info-toggle {
    position: absolute;
    top: 13vh;
    left: 1vw;
    z-index: 100;
    border: none; /* Remove default border */
    background: transparent;
    font-size: 1rem;
    font-family: "Courier New", Courier, monospace;
    cursor: pointer;
    color: rgb(174, 182, 191);
}

.info-toggle:hover {
    background: transparent;
    color: rgb(255, 255, 255);
    text-decoration: underline; /* White underline on hover */
    text-decoration-color: rgb(255, 255, 255); /* Set underline color to white */
}

.info-box {
    position: fixed;
    top: 25%;
    left: 25%;
    width: 50vw; /* 50% of viewport width */
    height: 50vh; /* 50% of viewport height */
    background: rgba(50, 50, 50, 0.9);
    color: white;
    padding: 1em;
    display: none; /* Hidden by default */
    flex-direction: row; /* Arrange text and logos vertically */
    align-items: center; /* Align the content in the center */
    justify-content: flex-start; /* Start the content at the top */
    font-family: "Courier New", Courier, monospace;
    overflow-y: auto; /* Enable vertical scrolling if needed */
    max-height: 100%; /* Prevent exceeding viewport */
}


.hexagon-menu {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: flex-start; /* Align to the left margin */
    gap: 10px; /* Space between items */
    padding: 10px;
    position: fixed;
    left: 10px; /* Align to the left margin */
    top: 50%; /* Center vertically */
    transform: translateY(-50%); /* Adjust for true vertical centering */
    z-index: 100; /* Ensure it appears above the map */
    pointer-events: auto; /* Ensure it is clickable */
}

.hexagon-item {
    width: clamp(50px, 4vw, 80px);
    aspect-ratio: 0.866; /* Hexagonal proportion */
    cursor: pointer;
}

.hex-item {
    width: 100%;
    height: 100%;
    background: rgb(174, 182, 191);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(50, 50, 50);
    text-align: center;
    position: relative;
    font-size: clamp(12px, 0.9vw, 18px);
    user-select: none; /* Prevent text selection to prevent interference and lag when panning the map */
}

/* Hover effect: Border and scale */
.hex-item:hover {
    background: rgb(76, 76, 76);
}

/* For the RGI 62 button */
#button-geoms-rgi62 .hex-item.active {
    background-color: rgb(107, 87, 255);
    color: rgb(174, 182, 191);
}

/* For the RGI 70G button */
#button-geoms-rgi70g .hex-item.active {
    background-color: rgb(128, 0, 128);
    color: rgb(174, 182, 191);
}

/* For the Data button */
#button-data .hex-item.active {
    background: var(--turbo-gradient);
    color: rgb(33, 47, 60);
}

/* For the 3d button */
#button-globe-view .hex-item.active {
    background-color: navy;
    color: rgb(174, 182, 191);
}

/* For the satellite button */
#button-sat .hex-item.active {
    background-color: #2d3a59;
    color: #E0FFFF;
}

/* Bottom-centered bar */
.bottom-bar {
	position: fixed;
	bottom: 20px;
	left: 50%;
    transform: translateX(-50%);
}

/* Container for the radio options */
.radio-switch {
    display: inline-flex;
    gap: 4px;
    overflow: hidden;
    border-radius: 999px;
    font-family: "Courier New", Courier, monospace;
    user-select: none;
    background-color: rgb(174, 182, 191);
}

/* Style labels as toggle buttons */
.radio-switch label {
    padding: 5px 20px;
    cursor: pointer;
    background-color: rgb(174, 182, 191);
    color: rgb(50, 50, 50);
    border-radius: 999px;
    transition: background-color 0.2s, color 0.2s;
    font-size: 14px;
    white-space: nowrap;
}

/* Style for the selected option */
.radio-switch input[type="radio"]:checked + label {
    background-color: #007bff;
    color: white;
    border-color: #007bff;
    box-shadow: 0 0 4px rgba(152, 245, 255, 1); /* subtle blue shadow */
}

/* Hide actual radio buttons */
.radio-switch input[type="radio"] {
    display: none;
}

.radio-switch label:last-of-type {
    border-right: none;
}

/* Full-screen overlay */
.welcome-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.85);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    z-index: 1000;
}

/* Top section (90% height) */
.welcome-screen-top {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-family: "Courier New", Courier, monospace;
}

/* Bottom section (10% height) */
.welcome-screen-bottom {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;  /* Stack logo and text vertically */
    justify-content: flex-end;
    align-items: center;
    font-family: "Courier New", Courier, monospace;
}

/* Container for the logos to be displayed horizontally */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Adjust the width to control the space */
    gap: 10px; /* Add a small space between the logos */
}

/* Logo images */
.logo-container img {
    height: 8vh;
    width: auto;
}

.welcome-screen h1 {
    font-size: 2rem;
    font-family: "Courier New", Courier, monospace;
}

.welcome-screen p {
    font-family: "Courier New", Courier, monospace;
}

.welcome-screen button {
    padding: 10px 20px;
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    font-family: "Courier New", Courier, monospace;
    background: none;
    color: transparent; /* Transparent text */
    border: none; /* Removes any default border */
    cursor: pointer;
    border-radius: 5px;
    -webkit-text-stroke: 2px white; /* Creates a white outline */
    text-shadow: 0 0 5px blue, 0 0 10px blue, 0 0 15px blue;
    outline: none; /* Prevents any focus outline */
    box-shadow: none; /* Removes any 3D shadow */
}

.welcome-screen button:hover {
    color: white;
}

/* popup */
.mapboxgl-popup-content {
    background-color: rgba(50, 50, 50, 0.9)  !important;
    color: rgb(174, 182, 191) !important;
}

/* popup triangle (tip) */
.mapboxgl-popup-tip {
    width: 0;
    height: 0;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    border-top: 30px solid rgb(33, 47, 60) !important; /* Arrow's color */
    transform: rotate(0deg); /* Arrow pointing upwards */
}

ul li {
    margin-bottom: 10px; /* Adjust the space as needed */
}

#search-container {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 22%;
    z-index: 100;
}

#search-input {
    color: rgb(174, 182, 191);
    background: rgba(50, 50, 50, 0.9);
    width: 100%;
    padding: 4px;
    font-size: 14px;
    outline: none;
    border: none;
}

#search-input::placeholder {
    color: rgb(174, 182, 191);
}

#autocomplete-wrapper {
    position: relative;
    width: 100%;
}

#close-dropdown {
    position: absolute;
    top: 4px;
    right: 6px;
    background: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: none;
    z-index: 10;
}

#autocomplete-results {
    list-style: decimal;
    background: none;
    border: none;
    color: rgb(174, 182, 191);
    margin-top: 2px;
    padding: 8px;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    width: 100%;
    box-sizing: border-box;
}

#autocomplete-results li {
    padding: 0px;
    cursor: pointer;
}

#autocomplete-results li:hover {
    color: #457fe5;
}